.callback-form {
  display: flex;
  gap: 10px;
}

.callback-form__button {
  width: 100%;
  justify-content: center;
}

@media (max-width: 1200px) {
  .callback-form {
    flex-direction: column;
  }
}

@media (max-width: 780px) {
  .callback-form {
    flex-direction: row;

    input {
      flex-basis: 49%;
    }
  }

  .callback-form__button {
    flex-basis: 49%;
  }
}

@media (max-width: 500px) {
  .callback-form {
    flex-direction: column;

    input {
      flex-basis: 100%;
    }
  }

  .callback-form__button {
    flex-basis: 100%;
  }
}
