.steps {
  background: var(--gray);
}

.steps__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  min-width: 0;
  margin-top: 65px;
}

.step {
  min-height: 225px;
  border-top: 1px solid var(--black);
  padding-top: 22px;
}

.step span {
  display: block;
  margin-bottom: 65px;
  color: var(--red);
  font-size: 13px;
  font-weight: 800;
}

.step h3 {
  margin-bottom: 12px;
  color: var(--black);
  font-size: 22px;
  font-weight: 800;
  line-height: 1.1;
}

.step p {
  max-width: 280px;
  color: #555555;
  font-size: 11px;
  line-height: 1.7;
}

@media (max-width: 700px) {
  .steps {
    .steps__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 15px;
      min-width: 0;
      margin-top: 15px;
    }

    .step {
      min-height: 100px;
      padding-top: 10px;
    }

    .step span {
      margin-bottom: 15px;
      font-size: 14px;
    }

    .step h3 {
      margin-bottom: 10px;
      font-size: 18px;
    }

    .step p {
      max-width: 280px;
      font-size: 16px;
    }
  }
}
